.larryms-upload-img{
    position: relative;
}
.larryms-imgpath{
	display: inline-block;
	vertical-align: top;
	width: 460px;
}
.larryms-imgpath-upload{
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
}
.larry-textarea3{
	width: 600px;
}
.larryms-img-view{
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	width: 60px;
	height: 60px;
	margin-top: -10px;
}
.larryms-img-view img{
	display: block;
	border: none;
	width: auto;
	height: 100%;
}
.layui-input-block.body{
	width: calc(100%-100px);
}
.htmlBody{
	width: 100%;
}
.edui-editor{
	width: calc(100%-100px) !important;
}
.layui-form[width800] .layui-form-item label.layui-form-label{
	color: #333;
}
.layui-form[width800] .layui-form-item .layui-input{
	color: #000;
}
.layui-form[width800] .layui-form-item .layui-input.larry-price{
   color: #ff5722;
}
/*文章列表页*/
body.larryms-article-index{
    background: #fff;
    box-sizing: border-box;
    padding: 15px;
    margin: 0px;
}