@charset "utf-8";
body{font-family: "Helvetica Neue",Helvetica,Tahoma,Arial,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;}
.head-info{padding:10px 0px;border-radius:6px}
.head-info div{padding:0px 40px 0px 15px;line-height:30px}
.head-info i.larry-icon{display:inline-block;width:30px;height:30px;vertical-align:middle;font-size:22px;text-align:center;line-height:30px;color:#fff;position:absolute;top:13px;right:13px;cursor:pointer}
.head-info i.larry-icon:hover{color:#FFC121}
.head-info{padding:13px 15px;box-sizing:border-box;font-family:'Microsoft YaHei'}
.head-info p.tit{padding-right:30px;font-size:14px;line-height:25px}
.head-info p.tit em{font-weight:600;font-size:18px;color:#FFC121}
.head-info p span.mini{font-size:12px;line-height:25px;padding:0px 3px}
.larry-shortcut section.shortcut{height:85px;background:#FFFFFF;-webkit-border-radius:4px;border-radius:4px;cursor:pointer}
.larry-shortcut section.shortcut a{display:block;width:100%;height:100%}
.larry-shortcut section.shortcut .larry-ico{height:83px;width:38%;-webkit-border-radius:4px 0px 0px 4px;border-radius:4px 0px 0px 4px;text-align:center;line-height:83px;position:absolute;top:1px;left:1px;color:#fff}
.larry-shortcut section.shortcut .larry-ico i{display:inline-block;vertical-align:middle;font-size:3em;color:#fff}
.larry-shortcut section.shortcut .larry-value{width:61%;height:75px;text-align:center;position:absolute;top:1px;right:1px;padding-top:8px;color:#000;font-size: 18px;}
.larry-shortcut section.shortcut .larry-value span.nums{display:block;width:100%;height:30px;line-height:35px;font-size:16px;text-align:center}
.larry-shortcut section.shortcut .larry-value cite{display:block;width:100%;height:40px;line-height:28px;font-size:14px;text-align:center}
.larry-shortcut section.shortcut .larry-value cite.un-nums{display:block;width:100%;height:75px;line-height:65px;text-align:center;font-size:14px}
section.shortcut:hover a .larry-value cite.un-nums,
section.shortcut:hover a .larry-value cite{color:#777}
section.shortcut:hover a .larry-value span.nums{color:#FF5722}
.mt100{margin-bottom:100px}
.larryms{width:98%;padding-bottom:0px;margin-bottom:0px;height:auto;position:relative}
.larryms span.logo{display:inline-block;vertical-align:top;width:80px;height:60px;border-radius:10px;color:#fff;line-height:60px;text-align:center;font-size:16px;margin-top:8px}
.larryms .larryms-text{display:inline-block;vertical-align:top;width:calc(100% - 120px);height:auto;line-height:25px;margin-bottom:8px;padding-left:20px;color:#333}
.larryms .larryms-text cite{display:inline-block;vertical-align:top;width:calc(100% - 65px);font-size:16px}
.larryms .larryms-update{display:block;width:400px;position:absolute;top:42px;left:95px}
.larryms .larryms-update span{margin-right:25px}
.larryms-update-info{padding-left:10px}
.larryms-update-info li{padding-bottom:10px}
.larryms-update-info li .layui-timeline-axis{font-size:14px}
.larryms-update-info li .layui-text h3{font-size:14px;color:#666;line-height:18px}
.larryms-buy .buy-content{background:#F3F7F9;margin-bottom:5px}
.larryms-buy .buy-content .buy-step{padding-top:10px;padding-bottom:10px;height:60px;padding-left:15px}
.larryms-buy .buy-content .buy-step .em{display:inline-block;vertical-align:middle;width:25px;height:25px;text-align:center;line-height:25px;font-size:16px;float:left;border-radius:50%;background:#E4EAEC;color:#FFF;margin-top:8px}
.larryms-buy .buy-content .buy-step .text{display:inline-block;vertical-align:middle;height:45px;float:left;margin-left:12px}
.larryms-buy .buy-content .buy-step .text cite{display:block;width:100%;font-size:16px;color:#333;line-height:20px}
.larryms-buy .buy-content .buy-step .text .explain{display:block;width:100%;font-size:12px;color:#A3AFB7;line-height:20px}
.larryms-buy .buy-content .larry-bg-green .em{background:#fff;color:#46BE8A}
.larryms-buy .buy-content .larry-bg-green .text cite,
.larryms-buy .buy-content .larry-bg-green .text .explain{color:#fff}
.larry-table-info td{color:#696969;font-size:12px;line-height:23px}
.larry-table-info td span.info{font-size:12px;font-weight:normal}
.larry-table-info td span.tit{font-size:14px;color:#666}
.larry-table-info td span.iframe{color:#FF5722}
.count-data{width:100%;margin:0px;min-height:350px}
.larryms-forums{padding-top:5px;}
h3.larryms-intoduce{display:inline-block;vertical-align:top;width:calc(100% - 85px);font-size:18px;color:#37474f}
.larryms-intoduce-ul{padding-top:10px;padding-bottom:15px}
.larryms-intoduce-ul li{font-size:14px;color:#76838f;line-height:24px;padding:5px 0px;font-family:"Helvetica Neue",Helvetica,Tahoma,Arial,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased}
section.top1 .larry-panel-body{min-height:310px}
section.top1 .larryms-text{max-height:310px;overflow:hidden;text-overflow:ellipsis}
section.top1 .larryms-text h3{white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.larryms-products{text-align:center}
.larryms-products .layui-card-body{padding:15px;box-sizing:border-box;padding-top:20px;height:250px}
.larryms-products i.larry-icon{font-size:45px;line-height:45px;font-weight:400;font-style:normal;display:inline-block;vertical-align:top;speak:none;padding-top:10px;margin-bottom:5px}
.layui-card .ui-a i::before{color:#ff5722}
.layui-card .ui-b i::before{color:#1E9FFF}
.layui-card .ui-c i::before{color:#21D3D1}
.layui-card .ui-d i::before{color:#46BE8A}
.layui-card .ui-e i::before{color:#FFC630}
.layui-card .ui-f i::before{color:#009688}
.larryms-products .layui-card-body p{font-family:"Helvetica Neue",Helvetica,Tahoma,Arial,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;font-size:14px;color:#76838f;line-height:25px}


@media screen and  (min-width:1000px) and (max-width:1280px){
	.larryms-forums{padding-top:0px;}
	section.top1 .larryms-text h3{font-size:15px}
	section.top1 .larryms-text{padding-top:5px;padding-bottom:5px}
	section.top1 .larryms-text li{font-size:13px;line-height:20px;padding:0px}
}
.larryms-console-data h1{font-size:18px;font-weight:100;font-family:"Helvetica Neue",Helvetica,Tahoma,Arial,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif;color:#37474f;line-height:36px;margin-bottom:8px;}
.pan{width:100%;height:270px;position:relative;}
.pan .count-datas{width:100%;height:100%;position:absolute;top:0px;left:0px;}
.margin-15{margin-bottom:15px;}
.layui-card-body .swiper-container{width:100%;padding-top:10px;}
.larryms-count{position:relative;}
.larryms-count .swiper-pagination{display:block;position:absolute;top:0px;right:15px;}
.swiper-pagination li.swiper-pagination-bullet{width:12px;height:12px;margin-right:5px;}
.data-list{width:100%;height:350px;}
.larryms-count-table tr th{height:35px;text-align:center;line-height:35px;}
.larryms-count-table tr td{text-align:center;line-height:30px;height:30px;}
.larryms-count-table tr td.imgs{text-align:left;font-size:14px;	/*padding-left: 5px;*/}
.larryms-count-table tr td.imgs .img{display:inline-block;vertical-align:top;width:30px;height:30px;margin-right:10px;}
.larryms-count-table tr td.imgs .img img{display:block;width:100%;height:100%;}
.explorer{width:100%;height:350px;}
@media screen and (max-width:768px){
	.pan{display:none;display:none!important;}
}
.larryms-data-top .layui-card .layui-card-body{padding:15px 0px;text-align: center;}
.larryms-data-top .layui-card .layui-card-body>div{display:inline-block;vertical-align:top;}
.larryms-data-top .layui-card .layui-card-body .left{text-align:center;padding-top:15px;margin-right:15%;}
.larryms-data-top .layui-card .layui-card-body .right{text-align:center;}
.larryms-data-top .layui-card .layui-card-body .left i.larry-icon {
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	border-radius: 100%;
	margin-bottom: 8px;
	line-height: 52px;
	color: #fff;
	font-size: 24px;
}
.larryms-data-top .layui-card .layui-card-body .left p{
	color: #76838f;
	font-size: 16px;
	line-height: 25px;
	text-align: center;
}
.larryms-data-top .layui-card .layui-card-body .left.a i{background:#26A0FA;}
.larryms-data-top .layui-card .layui-card-body .left.b i{background:#FA6332;}
.larryms-data-top .layui-card .layui-card-body .left.c i{background:#68C381;}
.larryms-data-top .layui-card .layui-card-body .left.d i{background:#FFB800;}
.larryms-data-top .layui-card .layui-card-body .right i{
	display: inline-block;
	vertical-align: top;
	width: 40px;
	height: 100px;
	line-height: 100px;
	font-size: 20px;
	padding-top: 13px;
}
.larryms-data-top .layui-card .layui-card-body .right i.larry-xiangxiajiantoushixin{
	color: #ff5722;
}
.larryms-data-top .layui-card .layui-card-body .right i.larry-xiangshang2{
	color: #46BE8A;
}
.larryms-data-top .layui-card .layui-card-body .right .p{
	display: inline-block;
	vertical-align: top;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
}
.larryms-data-top .layui-card .layui-card-body .right .p h3{
	font-size: 30px;
	font-weight: 500;
	line-height: 50px;
	color: #76838f;
}
.larryms-data-top .layui-card .layui-card-body .right .p cite{
	color: #a3afb7;
	white-space: nowrap;
	text-align: center;
	line-height: 20px;
    	font-size: 14px;
}
.larryms-count-demo .layui-card{
	height: 460px;
}
.larryms-card-head{
	height: 42px;
    	line-height: 42px;
    	padding: 10px 15px;
    	padding-bottom: 0px;
    	color: #666;
    	border-radius: 2px 2px 0 0;
    	font-size: 16px;
}
.larryms-card-head span{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 16px;
	font-weight: 500;
}
.income{
	width: 100%;
	height: 380px;
}
.larryms-order-demo thead tr th{
	background: rgba(243,247,249,.5);
	border-bottom: 1px solid #e4eaec;
	font-weight: 500;
    color: #526069;
    height: 38px;
    line-height: 38px;
    text-align: center;
}
.larryms-order-demo tbody tr{
	border-bottom: 1px solid #e4eaec;
}
.larryms-order-demo tbody tr td{
	font-size: 14px;
	padding: 10px 8px;
	box-sizing: border-box;
	height: 70px;
	text-align: center;
}
.larryms-order-demo tbody tr td img{
	display: block;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
}
.larryms-order-demo tbody tr td span{
	padding: 5px 15px;
	border-radius: 4px;
	color: #fff;
}
.larryms-order-demo tbody tr td span.label-default{
	color: #76838f;
}
.orders .layui-table-view{
	margin-top: 0px;
	margin-bottom: 20px;
}
.larryms-card-head a.more{
	display: block;
	height: 25px;
	margin-right: 15px;
	margin-top: 5px;
}
.larryms-card-head a.more span{
	display: block;
	height: 100%;
	line-height: 25px;
	padding:3px 7px;
	font-size: 14px;
}
.countup{
	cursor: pointer;
}
.qrcode{
	display: block;
	width: 300px;
	height: 300px;
	margin: 0 auto;
	margin-top: 10px;
}
/*IE css3修复*/
body.ie-bug .larry-shortcut section.shortcut .larry-ico{
    box-shadow: none;
}
body.ie-bug .larry-shortcut section.shortcut .larry-ico.larry-bg-green{background:#FC5D2A;}
body.ie-bug .larry-shortcut section.shortcut .larry-ico.larry-bg-blue{background:#1E9FFF;}
body.ie-bug .larry-shortcut section.shortcut .larry-ico.larry-bg-red{background:#FF5722;}
body.ie-bug .larry-shortcut section.shortcut .larry-ico.larry-bg-orange{background:#FFB800;}
body.ie-bug .larry-shortcut section.shortcut .larry-ico.larry-bg-purple{background:#9825D1;}
body.ie-bug .larry-shortcut section.shortcut .larry-ico.larry-bg-one{background:#ff2b67;}
body.ie-bug .larry-shortcut section.shortcut .larry-ico.larry-bg-two{background:#16d1b6;}
body.ie-bug .larry-shortcut section.shortcut .larry-ico.larry-bg-three{background:#26d0e0;}
