html{height:100%;overflow:hidden;}
body{width:100%;height:100%;background:#666666;font-family:"Microsoft YaHei";}
#supersized-loader{position:absolute;top:50%;left:50%;z-index:0;width:60px;height:60px;margin:-30px 0 0 -30px;text-indent:-999em;background:url(../../images/loading.gif) no-repeat center center;}
#supersized{display:block;position:fixed;left:0;top:0;overflow:hidden;z-index:-999;height:100%;width:100%;}
#supersized img{width:auto;height:auto;position:relative;display:none;outline:none;border:none;}
#supersized.speed img{-ms-interpolation-mode:nearest-neighbor;image-rendering:-moz-crisp-edges;}

/*Speed*/
#supersized.quality img{-ms-interpolation-mode:bicubic;image-rendering:optimizeQuality;}

/*Quality*/
#supersized li{display:block;list-style:none;z-index:-30;position:fixed;overflow:hidden;top:0;left:0;width:100%;height:100%;background:#111;}
#supersized a{width:100%;height:100%;display:block;}
#supersized li.prevslide{z-index:-20;}
#supersized li.activeslide{z-index:-10;}
#supersized li.image-loading{background:#111 url(../../images/loading.gif) no-repeat center center;width:100%;height:100%;}
#supersized li.image-loading img{visibility:hidden;}
#supersized li.prevslide img,#supersized li.activeslide img{display:inline;}
#supersized img{max-width:none!important}
#supersized i{_zoom:300;}
.layui-fluid{height:100%;width: 100%;position: relative;}
.larryms-layout{display:-webkit-flex;display:-ms-flexbox;display:flex;height:100%;margin:0px;padding:0px;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;}
.larry-main{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -270px;
	margin-left: -250px;
	height:auto;padding-top:40px;padding-bottom:25px;box-shadow:10px 5px 70px #0d957a;border-radius:5px;border:1px solid #909090;}
.larry-main .title{display:block;width:100%;height:45px;line-height:45px;color:#ffffff;font-size:32px;text-align:center;font-weight:bold;margin-bottom:5px;}
.larry-main p.info{display:block;width:100%;height:35px;line-height:35px;color:#ffffff;font-size:24px;text-align:center;padding-bottom:5px;}
.user-info{display:block;width:100%;height:auto;padding-top:5px;overflow:hidden;margin:0 auto;}
.user-info .avatar{display:block;width:96px;height:96px;margin:0 auto;margin-bottom:25px;}
.user-info .avatar img{display:block;width:100%;height:100%;}
.layui-form{width:285px;margin:0 auto;}
.layui-form .layui-form-item{display:block;width:100%;height:40px;border:none;position:relative;margin-bottom:20px;}
.layui-form .layui-form-item label.layui-form-label{display:block;padding:0px;margin:0px;width:55px;height:20px;line-height:20px;position:absolute;top:10px;left:10px;font-size:14px;font-weight:600;color:#ffffff;padding-right:10px;border-right:dotted 1px #FFF;text-align:right;}
.layui-form .layui-form-item input.larry-input{display:block;width:100%;height:40px;vertical-align:middle;margin:0px;padding:0px;position:absolute;top:0px;left:0px;font-size:14px;font-family:"Microsoft YaHei","Lucida Grande","Lucida Sans Unicode",Tahoma,Helvetica,Arial,sans-serif;color:#ffffff!important;background:#2d2d2d;background:rgba(15,15,15,.15);border:1px solid #3d3d3d;border:1px solid rgba(255,255,255,.15);-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;text-shadow:0 1px 2px rgba(0,0,0,.1);-moz-box-shadow:0 2px 3px 0 rgba(0,0,0,.1) inset;-webkit-box-shadow:0 2px 3px 0 rgba(0,0,0,.1) inset;box-shadow:0 2px 3px 0 rgba(0,0,0,.1) inset;-o-transition:all .2s;-moz-transition:all .2s;-webkit-transition:all .2s;-ms-transition:all .2s;padding-left:82px;}
input::-webkit-input-placeholder{color:#ccc;}
input:-moz-placeholder{color:#ccc;}
input::-moz-placeholder{color:#ccc;}
input:-ms-input-placeholder{color:#ccc;}
.layui-form .layui-form-item input.larry-input:focus{color:#ffffff;}
#larry_code{width:100px;margin-bottom:25px;}
#larry_code input.larry-input{padding-left:10px!important;color:#fff !important;}
#larry_code input.larry-input:focus{color:#fff !important;font-size:16px;}
#larry_code input::-webkit-input-placeholder{color:#fff;}
#larry_code input:-moz-placeholder{color:#fff !important;}
#larry_code input::-moz-placeholder{color:#fff !important;}
#larry_code input:-ms-input-placeholder{color:#fff !important;}
#larry_code .code{display:block;background:#ffffff;width:176px;height:40px;padding:0px;border-radius:4px;position:absolute;top:-1px;left:108px;box-shadow:0 1px 1px 1px rgba(0,0,0,0.25);}
#larry_code .code-img{width:156px;height:38px;position:absolute;top:1px;left:2px;cursor:pointer;}
#larry_code .code-img img{display:block;width:100%;height:100%;}
.larry-btn{position:static;display:block;font-size:16px;font-family:"Microsoft YaHei","Lucida Grande","Lucida Sans Unicode",Tahoma,Helvetica,Arial,sans-serif;font-weight:600;letter-spacing:1px;background:#ef4300;width:200px;height:40px;line-height:40px;vertical-align:middle;margin:0 auto!important;border:1px solid #ff730e;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;-moz-box-shadow:0 15px 30px 0 rgba(255,255,255,.25) inset,0 2px 7px 0 rgba(0,0,0,.2);-webkit-box-shadow:0 15px 30px 0 rgba(255,255,255,.25) inset,0 2px 7px 0 rgba(0,0,0,.2);box-shadow:0 15px 30px 0 rgba(255,255,255,.25) inset,0 2px 7px 0 rgba(0,0,0,.2);color:#fff;cursor:pointer;text-shadow:0 1px 2px rgba(0,0,0,.1);-o-transition:all .2s;-moz-transition:all .2s;-webkit-transition:all .2s;-ms-transition:all .2s;}
.larry-btn:hover{-moz-box-shadow:0 15px 30px 0 rgba(255,255,255,.15) inset,0 2px 7px 0 rgba(0,0,0,.2);-webkit-box-shadow:0 15px 30px 0 rgba(255,255,255,.15) inset,0 2px 7px 0 rgba(0,0,0,.2);box-shadow:0 15px 30px 0 rgba(255,255,255,.15) inset,0 2px 7px 0 rgba(0,0,0,.2);}
.larry-btn:active{-moz-box-shadow:0 15px 30px 0 rgba(255,255,255,.15) inset,0 2px 7px 0 rgba(0,0,0,.2);-webkit-box-shadow:0 15px 30px 0 rgba(255,255,255,.15) inset,0 2px 7px 0 rgba(0,0,0,.2);box-shadow:0 5px 8px 0 rgba(0,0,0,.1) inset,0 1px 4px 0 rgba(0,0,0,.1);border:0px solid #ef4300;}
.copy-right{display:block;width:360px;height:30px;line-height:30px;margin:0 auto;text-align:center;color:#000000;font-size:14px;padding-top:5px;}
.copy-right a{cursor:pointer;color:#000000;}
.copy-right a:hover{color:#ffffff;}
input:-webkit-autofill {
-webkit-box-shadow : 0 0 0px 1000px rgba(59,62,62,.7) inset !important ;
opacity: .6;
border : 1px solid #e5e5e5 !important ;
color: #fff !important;
}
/*IE浏览器*/
.larryms-ie{display:block!important;position:relative;}
.larryms-ie .larry-main{width:500px!important;position:absolute;left:50%;top:50%;margin-left:-250px;margin-top:-280px;filter:alpha(opacity=70);/*IE*/background:none;}
@media screen and (min-width:560px){
	.larry-main{max-width:500px;}
}
@media screen and (max-width:768px){
	.larry-main .title{font-size:26px;height:35px;line-height:35px;}
	.larry-main p.info{font-size:18px;height:25px;line-height:25px;}
	.user-info .avatar{width:66px;height:66px;margin:0 auto;margin-bottom:15px;}
	.layui-form{width:240px;}
	#larry_code .code{width:130px;}
	#larry_code .code-img{width:112px;}
	.larry-btn{width:100%;}
}