@charset "utf-8";
/**
 * @Title: LarryMS
 * @Date: 2017-11-15
 * @Site: www.larryms.com
 * @Author: Larry
 * @QQ号：313492783
 * @QQ群号码：290354531
 * @Version:larryMS2.08
 * @Last Modified time: 2017-11-15 09:00:00
 */
/*initialize css*/
html{padding:0px;margin: 0px;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td,span,a{margin:0;padding:0;}
body{font-size:14px;font-family: "微软雅黑","Microsoft YaHei","Microsoft YaHei UI", "Segoe UI", Arial, Verdana, Sans-Serif, sans-serif;}
em{font-style:normal}
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {display: block;}
b,strong {font-weight: bold;}
pre {white-space: pre;white-space: pre-wrap;word-wrap: break-word;}
a{text-decoration: none;color: #333333;font-family: "Microsoft YaHei";}
a:hover{text-decoration: none;}
fieldset,img{border:0;}
ol,ul,li { list-style:none;}
del,ins{text-decoration:none;}
input[type="checkbox"],input[type="radio"] {box-sizing: border-box; /* 1 */padding: 0; /* 2 */}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
button::-moz-focus-inner,input::-moz-focus-inner {border: 0;padding: 0;}
textarea {overflow: auto; /* 1 */vertical-align: top; /* 2 */}
table{border-collapse: collapse;border-spacing: 0;}
caption,th{text-align:left;}
a:active {outline: none;star:expression(this.onFocus=this.blur());}
a,a:hover,a:focus{text-decoration:none;outline:none;-webkit-transition:all 0.3s;transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;}
::selection{background:#1E9FFF;color:#fff;}
::-moz-selection{background:#1E9FFF;color:#fff;}
pre{padding:10px 15px;margin:10px 0;font-size:12px;border-left:6px solid #009688;background-color:#F2F2F2;font-family:Courier New;overflow:auto;}

/*common css*/
.pos-r{position:relative;}
.pos-a{position:absolute;}
.pos-f{position:fixed;}
.pos-s{position:static;}
.none{display:none;}
.block{display:block;}
.inline{display:inline;}
.inline-block{display:inline-block;vertical-align:top;}
.flex{display:flex;}
.table{display:table;}
.tr{display:table-row;}
.td{display:table-cell;}
.thead{display:table-header-group;}
.tbody{display:table-row-group;}
.tfoot{display:table-footer-group;}
.li{display:list-item;}

/*对齐方式*/
.center{text-align:center;}
.left{text-align:left;}
.right{text-align:right;}
.middle{vertical-align:middle;}
.pos-al{position:absolute;top:0px;left:10px;width:auto;height:100%;}
.pos-ar{position:absolute;top:0px;right:10px;width:auto;height:100%;}

/*浮动*/
.fl{float:left;}
.fr{float:right;}
.fn{float:none;}
/*距离*/
.p3{padding-left: 3px;padding-right: 3px;}
.mt5{margin-bottom: 5px;}
/*颜色*/
.larryms-f-blue{color: #1E9FFF;}
/* 清除浮动样式 */
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1;}
/*larry-flex布局*/
/*layer自定义皮肤*/

/* larrymsMessage css */
.larryms-message-layer { background: none; background: transparent; }
.larryms-message-layer .layui-layer-content { background: none; background: transparent; }
.larryms-message { width: 100%; height: 100%; border: none; padding: 0px; margin: 0px; background: #5EB95E; overflow: hidden; box-shadow: 2px 3px 8px #d8d8d8; }
.larryms-message-box { padding: 15px; padding-bottom: 10px; padding-left: 20px; max-width: 560px; border-radius: 10px; height: auto; }
.larryms-message-box i.larry-icon { display: inline-block; vertical-align: top; float: left; height: 40px; line-height: 40px; font-size: 32px; color: #ffffff }
.larryms-message-box .resultmsg { display: inline-block; vertical-align: top; height: auto; color: #fff; font-size: 18px; font-family: "Microsoft YaHei"; padding-left: 10px; line-height: 38px; float: left }
.larry-message-error { background: #FF5722 }
.larry-message-waring { background: #FFB800 }
.larry-message-tips { background: #F7B824 }
.larryms-message-box .resultmsg { width: calc(100% - 90px); width: -moz-calc(100%-90px); width: -webkit-calc(100%-90px) }

/*skin:larry-debug*/
body .larry-debug .layui-layer-title{background:#FF5722;color:#fff;border:none;}
body .larry-debug .layui-layer-btn{border-top:1px solid #E9E7E7}
body .larry-debug .layui-layer-btn a{background:#009f95;}
body .larry-debug .layui-layer-btn .layui-layer-btn1{background:#009f95;color:#ffffff;}
body .larry-debug .layui-layer-close1{color:#ffffff;}
body .larry-debug .layui-layer-setwin{top:8px;right:10px;}
body .larry-debug .layui-layer-close{background:none;}
body .larry-debug .layui-layer-close:before{font-size:20px;color:#ffffff;content:'x';font-family:"Microsoft YaHei";line-height:20px;}
body .larry-debug pre{border-left:6px solid #FF5722;}
/*skin:larry-green*/
body .larry-green .layui-layer-title{background:#009E96;color:#fff;border:none;}
body .larry-green .layui-layer-btn{border-top:1px solid #E9E7E7}
body .larry-green .layui-layer-btn a{background:#009f95;}
body .larry-green .layui-layer-btn .layui-layer-btn1{background:#009f95;color:#ffffff;}
body .larry-green .layui-layer-close1{color:#ffffff;}
body .larry-green .layui-layer-setwin{top:7px;right:10px;}
body .larry-green .layui-layer-close{background:none;}
body .larry-green .layui-layer-close:before{font-size:20px;color:#ffffff;content:'x';font-family:"Microsoft YaHei";line-height:20px;}
body .larry-green .layui-layer-close:hover:before{color:#eeeeee;}
body .larry-green pre{border-left:6px solid #009E96;}
body .larry-green .layui-layer-setwin .layui-layer-max{background:none;margin-left:5px;}
body .larry-green .layui-layer-setwin .layui-layer-max::before{font-family:"larry-icon";font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;content:"\e732";color:#fff;font-size:20px;color:#fff;line-height:28px;margin-right:8px;}
body .larry-green .layui-layer-setwin .layui-layer-max::before:hover{color:#f2f2f2;}
body .larry-green .layui-layer-setwin .layui-layer-min cite{background:#fff;margin-top:2px;}
body .larry-green .layui-layer-setwin .layui-layer-min cite:hover{background:#f2f2f2;}
body .larry-green .layui-layer-btn{text-align: center;background: #eee;}
body .larry-green .layui-layer-btn a{margin-right: 25px;height: 30px;line-height: 30px;padding: 0px 20px;}
body .larry-green .layui-layer-btn a.layui-layer-btn1{background: #ff5722;}

.larry_menu_box{display:none;width:210px;position:absolute;z-index:201708311988;}
.larry_menu_body{padding:1px;padding-top:5px;padding-bottom:5px;border:1px solid #B8CBCB;background-color:#fff;-moz-box-shadow:2px 2px 5px #666;-webkit-box-shadow:2px 2px 5px #666;box-shadow:2px 2px 5px #666;}
.larry_menu_ul{margin:0;padding:0;list-style-type:none;}
.larry_menu_li{position:relative;height:40px;}
.larry_menu_a{display:block;height:40px;line-height:40px;padding:0 5px 0 25px;color:#000;font-size:14px;text-decoration:none;overflow:hidden;}
.larry_menu_a:hover,
.larry_menu_a_hover{background-color:#01AAED;color:#fff;text-decoration:none;}
.larry_menu_li_separate{line-height:0;margin:3px;border-bottom:1px solid #B8CBCB;font-size:0;}
.larry_menu_triangle{width:0;height:0;border:5px dashed transparent;border-left:5px solid #666;overflow:hidden;position:absolute;top:14px;right:5px;}
.larry_menu_a:hover .larry_menu_triangle,
.larry_menu_a_hover .larry_menu_triangle{border-left-color:#fff;}
.larry_menu_li_hover .larry_menu_box{top:-1px;left:205px;}

/*左侧导航三级菜单扩展*/
.larryms-nav{position:relative;padding:0 20px;color:#fff;border-radius:2px;font-size:0;box-sizing:border-box;}
.larryms-nav *{font-size:14px;}
.larryms-nav .larryms-nav-item{position:relative;display:inline-block;*display:inline;*zoom:1;vertical-align:middle;line-height:60px;}
.larryms-nav .larryms-nav-item a{display:block;padding:0 20px;color:#fff;color:rgba(255,255,255,.7);transition:all .3s;-webkit-transition:all .3s;}
.larryms-nav-bar,
.larryms-nav .larryms-this:after,
.larryms-nav-tree .larryms-nav-itemed:after{position:absolute;left:0;top:0;width:0;height:5px;background-color:#5FB878;transition:all .2s;-webkit-transition:all .2s;}
.larryms-nav-bar{z-index:1000;}
.larryms-nav .larryms-this a,
.larryms-nav .larryms-nav-item a:hover{color:#fff;}
.larryms-nav .larryms-this:after{content:'';top:auto;bottom:0;width:100%;}
.larryms-nav-img{width:30px;height:30px;margin-right:10px;border-radius:50%;}
.larryms-nav .larryms-nav-more{content:'';width:0;height:0;border-style:dashed;border-color:transparent;overflow:hidden;cursor:pointer;transition:all .2s;-webkit-transition:all .2s;}
.larryms-nav .larryms-nav-more{position:absolute;top:50%;right:3px;margin-top:-3px;border-width:6px;border-top-style:solid;border-top-color:#fff;border-top-color:rgba(255,255,255,.7);}
.larryms-nav .larryms-nav-mored,
.larryms-nav-itemed .larryms-nav-more{margin-top:-9px;border-style:dashed;border-color:transparent;border-bottom-style:solid;border-bottom-color:#fff;}
.larryms-nav-child{display:none;position:absolute;left:0;top:65px;min-width:100%;line-height:36px;padding:5px 0;box-shadow:0 2px 4px rgba(0,0,0,.12);border:1px solid #d2d2d2;background-color:#fff;z-index:100;border-radius:2px;white-space:nowrap;}
.larryms-nav .larryms-nav-child a{color:#333;}
.larryms-nav .larryms-nav-child a:hover{background-color:#f2f2f2;color:#000;}
.larryms-nav-child dd{position:relative;}
.larryms-nav-child dd.larryms-this{background-color:#5FB878;color:#fff;}
.larryms-nav .larryms-nav-child dd.larryms-this a{background-color:#5FB878;color:#fff;}
.larryms-nav-child dd.larryms-this:after{display:none;}

/* 垂直导航菜单 */
.larryms-nav-tree{width:200px;padding:0;}
.larryms-nav-tree .larryms-nav-item{display:block;width:100%;line-height:45px;cursor:pointer;}
.larryms-nav-tree .larryms-nav-item a{height:45px;line-height:45px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.larryms-nav-tree .larryms-nav-item a:hover{background-color:#4E5465;}
.larryms-nav-tree .larryms-nav-bar{width:5px;height:0;}
.larryms-nav-tree .larryms-nav-item a i{padding-right:5px!important;font-size:16px!important;}
.larryms-nav-tree .larryms-this,
.larryms-nav-tree .larryms-this>a,
.larryms-nav-tree .larryms-this>a:hover,
.larryms-nav-tree .larryms-nav-child dd.larryms-this,
.larryms-nav-tree .larryms-nav-child dd.larryms-this a{background-color:#009688;color:#fff;}
.larryms-nav-tree .larryms-this:after{display:none;}
.larryms-nav-tree .larryms-nav-title a,
.larryms-nav-tree .larryms-nav-title a:hover,
.larryms-nav-itemed>a{color:#fff!important;}
.larryms-nav-tree .larryms-nav-bar{background-color:#009688;}
.larryms-nav-tree .larryms-nav-child{position:relative;z-index:0;top:0;border:none;box-shadow:none;}
.larryms-nav-tree .larryms-nav-child a{height:40px;line-height:40px;}
.larryms-nav-tree .larryms-nav-child a{color:#fff;color:rgba(255,255,255,.7);}
.larryms-nav-tree .larryms-nav-child a:hover,
.larryms-nav-tree .larryms-nav-child{background:none;color:#fff;}
.larryms-nav-tree .larryms-nav-more{top:20px;right:10px;margin:0;}
.larryms-nav-itemed .larryms-nav-more{top:14px;}
.larryms-nav-itemed .larryms-nav-child{display:block;padding:0;background-color:rgba(0,0,0,.3)!important;}
.larryms-nav-itemed dl.larryms-nav-child dd{cursor:pointer;}
.larryms-nav-itemed dl.larryms-nav-child dd.grandson dl.larryms-nav-child{display:none;}
.larryms-nav-itemed dl.larryms-nav-child dd.grandson  .larryms-nav-more{content:'';width:0;height:0;border-style:dashed;border-color:transparent;overflow:hidden;cursor:pointer;transition:all .2s;-webkit-transition:all .2s;}
.larryms-nav-itemed dl.larryms-nav-child dd.grandson  .larryms-nav-more{position:absolute;top:50%;right:10px;margin-top:-3px;border-width:6px;border-top-style:solid;border-top-color:#fff;border-top-color:rgba(255,255,255,.7);}
.larryms-nav-itemed dl.larryms-nav-child dd.grandsoned .larryms-nav-more{margin-top:-9px;border-style:dashed;border-color:transparent;border-bottom-style:solid;border-bottom-color:#fff;}
.larryms-nav-itemed dl.larryms-nav-child dd.grandsoned .larryms-nav-more{top:20px;}
.larryms-nav-itemed dl.larryms-nav-child dd.grandsoned dl.larryms-nav-child{display:block;padding:0;background-color:rgba(0,0,0,.3)!important;}
.larryms-nav-tree .larryms-nav-item dl.larryms-nav-child dd.grandson{cursor:pointer;}
.larryms-nav-tree .larryms-nav-item dl.larryms-nav-child dd.grandson a{width:100%;box-sizing:border-box;}
.larryms-nav-tree .larryms-nav-item dl.larryms-nav-child dd.grandson:hover{background-color:#3F4149;}
.larryms-nav-tree .larryms-nav-item dl.larryms-nav-child dd.grandson:hover dl.larryms-nav-child dd{background:#1C1E24;}
.larryms-nav-tree .larryms-nav-item dl.larryms-nav-child dd.grandson a:hover,
.larryms-nav-tree .larryms-nav-item dl.larryms-nav-child dd.grandson dl.larryms-nav-child{background:none;color:#fff;}
.larryms-nav-tree .larryms-nav-item dl.larryms-nav-child dd.grandson .larryms-this,
.larryms-nav-tree .larryms-nav-item dl.larryms-nav-child dd.grandson .larryms-this>a,
.larryms-nav-tree .larryms-nav-item dl.larryms-nav-child dd.grandson .larryms-this>a:hover,
.larryms-nav-tree .larryms-nav-item dl.larryms-nav-child dd.grandson .larryms-nav-child dd.larryms-this,
.larryms-nav-tree .larryms-nav-item dl.larryms-nav-child dd.grandson .larryms-nav-child dd.larryms-this a{background-color:#009688;color:#fff;}

/* 侧边 */
.larryms-nav-side{position:fixed;top:0;bottom:0;left:0;overflow-x:hidden;z-index:999;}

/* 导航主题色 */
.larryms-bg-blue .larryms-nav-bar,
.larryms-bg-blue .larryms-this:after,
.larryms-bg-blue .larryms-nav-itemed:after{background-color:#93D1FF;}
.larryms-bg-blue .larryms-nav-child dd.larryms-this{background-color:#1E9FFF;}
.larryms-nav-tree.larryms-bg-blue .larryms-nav-title a,
.larryms-nav-tree.larryms-bg-blue .larryms-nav-title a:hover,
.larryms-bg-blue .larryms-nav-itemed>a{background-color:#007DDB!important;}

/*larry-flex布局*/

/*larryms-uitls-fixbar*/
.larryms-fixbar{
   position: fixed; right: 20px; bottom: 10px; z-index: 9999;
}
.larryms-fixbar li{width: 50px; height: 50px; line-height: 50px; margin-bottom: 1px; text-align:center;vertical-align: middle; cursor: pointer; font-size:30px; background-color: #9F9F9F; color:#fff; border-radius: 2px; opacity: 0.95;}
.larryms-fixbar li:hover{opacity: 0.85;}
.larryms-fixbar li:active{opacity: 1;}
.larryms-fixbar .backControl{font-size: 14px;text-align: center;color: #fff;line-height: 20px;}
.larryms-fixbar #larryms-fixbar-top{display: none; font-size: 26px;line-height: 50px;}


.margin-10{
	margin-bottom: 10px;
}
.margin-15{
	margin-bottom: 15px;
}
.margin-20{
	margin-bottom: 20px;
}
.larryms-tips{
	cursor: pointer;
}
del {
    text-decoration: line-through;
}


