@import url(../../layui/css/layui.css);

html,
body {
	margin: 0px;
	padding: 0px;
}

body {
	font: 14px/1.5 "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Roboto, Arial, sans-serif;
}
.larry_menu_box{display:none;width:210px;position:absolute;z-index:201708311988;}
.larry_menu_body{padding:1px;padding-top:5px;padding-bottom:5px;border:1px solid #B8CBCB;background-color:#fff;-moz-box-shadow:2px 2px 5px #666;-webkit-box-shadow:2px 2px 5px #666;box-shadow:2px 2px 5px #666;}
.larry_menu_ul{margin:0;padding:0;list-style-type:none;}
.larry_menu_li{position:relative;height:40px;}
.larry_menu_a{display:block;height:40px;line-height:40px;padding:0 5px 0 25px;color:#000;font-size:14px;text-decoration:none;overflow:hidden;}
.larry_menu_a:hover,
.larry_menu_a_hover{background-color:#01AAED;color:#fff;text-decoration:none;}
.larry_menu_li_separate{line-height:0;margin:3px;border-bottom:1px solid #B8CBCB;font-size:0;}
.larry_menu_triangle{width:0;height:0;border:5px dashed transparent;border-left:5px solid #666;overflow:hidden;position:absolute;top:14px;right:5px;}
.larry_menu_a:hover .larry_menu_triangle,
.larry_menu_a_hover .larry_menu_triangle{border-left-color:#fff;}
.larry_menu_li_hover .larry_menu_box{top:-1px;left:205px;}
.larry-header {
	height: 70px;
}

.larryms-layout .larry-header {
	height: 60px;
}

.larry-site-header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: 0px;
	background: rgba(0, 0, 0, .8);
	z-index: 99999;
	width: 100%;
	-webkit-transition: .3s;
	box-sizing: border-box;
}

.larry-site-header .layui-container {
	position: relative;
	padding: 0px;
	height: 100%;
}

.larry-site-header .layui-container>.larry-logo {
	position: absolute;
	left: 0.5%;
	top: 0px;
	height: 70px;
	line-height: 70px;
	color: #fff;
	cursor: pointer;
}

.larry-site-header .layui-container>.larry-logo>a {
	color: #fff;
	font-size: 1.8em;
	line-height: 65px;
	text-align: left;
}

.larry-site-header .layui-container .larry-nav {
	background: none;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
	padding-right: 70px;
}

.larry-site-header .layui-container .larry-nav>.menus {
	display: block;
	width: 50px;
	height: 100%;
	position: absolute;
	top: 0px;
	right: 0px;
}

.larry-nav>.menus>i {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	color: #00DFB9;
	font-size: 1.8em;
	line-height: 70px;
	cursor: pointer;
}

.larry-site-header .layui-container .larry-nav>li {
	height: 100%;
	line-height: 70px;
}

.larry-nav>li>a {
	padding-left: 30px;
	padding-right: 30px;
	height: 100%;
	line-height: 70px;
}

.larry-nav>li.layui-nav-item>a {
	padding: 0 25px;
}

.larry-nav>li.layui-nav-item .layui-nav-child {
	top: 70px;
}

nav.larry-nav-header {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 250px;
	height: 100%;
	padding: 0px;
	margin: 0px;
	background: #fff;
	text-align: center;
	z-index: 9999999;
	transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	-o-transition: .5s;
	border-right: 1px solid #f8f8f8;
	box-shadow: 0px 0px 1px 0px #e5e5e5;
	overflow-y: scroll;
}

nav::-webkit-scrollbar {
	width: 0px;
}

nav {
	scrollbar-base-color: #fff;
	scrollbar-base-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-highlight-color: #fff;
	scrollbar-track-color: #fff;
	scrollbar-arrow-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-dark-shadow-color: #fff;
}

nav.larry-nav-header.current-this {
	display: block;
}

nav.larry-nav-header>.top-box {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	height: 71px;
	border-bottom: 1px solid #f2f2f2;
	margin-bottom: 10px;
}

nav.larry-nav-header .logo-box {
	display: block;
	width: 230px;
	height: 70px;
	margin: 0 auto;
	overflow: hidden;
}

nav.larry-nav-header .logo-box a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

nav.larry-nav-header .logo-box a img {
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 30px;
	margin-top: 10px;
}

nav.larry-nav-header .logo-box a cite {
	display: inline-block;
	vertical-align: top;
	width: 155px;
	height: 40px;
	line-height: 55px;
	font-size: 16px;
	color: #333;
	font-weight: 600;
	text-align: center;
}

nav.larry-nav-header .logo-box a>span {
	display: block;
	width: 100%;
	height: 25px;
	color: #ababab;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
}

nav.larry-nav-header>.wx-qq {
	width: 230px;
	height: 180px;
	text-align: center;
	margin: 0 auto;
}

nav.larry-nav-header>.wx-qq>img {
	display: block;
	width: 155px;
	height: 140px;
	margin: 0 auto;
	border: 1px solid #f6f6f6;
	border-radius: 5px;
	margin-bottom: 5px;
}

nav.larry-nav-header>.wx-qq>span {
	color: #888;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
}

nav.larry-nav-header>.flink-box {
	display: block;
	width: 200px;
	height: auto;
	min-height: 90px;
	margin: 0 auto;
	padding: 20px 0px;
	text-align: left;
}

nav.larry-nav-header>.flink-box cite {
	display: block;
	font-style: normal;
	text-align: left;
	color: #009688;
	font-size: 16px;
	font-weight: bolder;
	padding-bottom: 3px;
}

nav.larry-nav-header>.flink-box a {
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
	color: #888;
	line-height: 25px;
	margin-right: 5px;
	font-size: 13px;
	text-align: left;
}

nav.larry-nav-header>.flink-box a:hover {
	color: #FF5722;
	text-decoration: underline;
}

nav.larry-nav-header>.header-footer {
	overflow: hidden;
	width: 230px;
	margin: 0 auto;
	padding: 20px 0px;
	position: absolute;
	bottom: 0px;
	left: 15px;
}

nav.larry-nav-header>.header-footer .top {
	display: block;
	width: 100%;
	height: 50px;
	text-align: left;
	padding-left: 6px;
}

nav.larry-nav-header>.header-footer .top a {
	display: inline-block;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	background: #00dfb9;
	font-size: 16px;
	margin: 2.5px 7.5px;
	cursor: pointer;
	color: #fff;
	transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	-o-transition: .5s;
}

nav.larry-nav-header>.header-footer .top span {
	line-height: 60px;
	font-size: 14px;
	color: #888;
}

nav.larry-nav-header>.header-footer p {
	color: #000;
	padding-left: 15px;
	text-align: left;
}

nav.larry-nav-header>.header-footer p span {
	display: block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	color: #888;
}

nav.larry-nav-header>.header-footer cite {
	display: block;
	width: 100%;
	text-align: left;
	color: #888;
	font-size: 14px;
	font-style: normal;
	padding-left: 15px;
}

nav.larry-nav-header>.header-footer cite>a:hover {
	cursor: pointer;
	color: #009688;
}

.larry-site-footer {
	width: 100%;
    	height: auto;
    	padding-top: 5px;
    	background: #161616;
    	padding-bottom: 15px;
}
.larry-site-footer.fixed{
		position: fixed;
    	bottom: 0px;
    	left: 0px;
    	z-index: 1000;
}
.larry-site-footer p {
    font-size: 12px;
    color: #888;
    text-align: center;
    padding: 5px 0 0 0;
    line-height: 26px;
}
.larry-site-footer .copyright {
    overflow: hidden;
    width: 300px;
    margin: 10px auto 0;
}
.copyright span {
    float: left;
    margin: 0 5px;
    color: #666;
    -webkit-transition: .3s;
    transition: .3s;
}
.copyright span .icons {
    display: block;
    width: 90px;
    height: 33px;
}
.i-cer-1 {
    background: url(../../images/i-cer-1.png);
}
.i-cer-2 {
    background: url(../../images/i-cer-2.png);
}
.i-cer-3 {
    background: url(../../images/i-cer-3.png);
}
.pt-page-fade {
	-webkit-animation: fade .7s ease both;
	-moz-animation: fade .7s ease both;
	animation: fade .7s ease both;
}

@-webkit-keyframes fade {
	to {
		opacity: 0.3;
	}

}

@-moz-keyframes fade {
	to {
		opacity: 0.3;
	}

}

@keyframes fade {
	to {
		opacity: 0.3;
	}

}

@-webkit-keyframes moveToLeftFade {
	to {
		opacity: 0.3;
		-webkit-transform: translateX(-100%);
	}

}

@-moz-keyframes moveToLeftFade {
	to {
		opacity: 0.3;
		-moz-transform: translateX(-100%);
	}

}

@keyframes moveToLeftFade {
	to {
		opacity: 0.3;
		transform: translateX(-100%);
	}

}

@-webkit-keyframes moveFromLeftFade {
	from {
		opacity: 0.3;
		-webkit-transform: translateX(-100%);
	}

}

@-moz-keyframes moveFromLeftFade {
	from {
		opacity: 0.3;
		-moz-transform: translateX(-100%);
	}

}

@keyframes moveFromLeftFade {
	from {
		opacity: 0.3;
		transform: translateX(-100%);
	}

}

@-webkit-keyframes moveToRightFade {
	to {
		opacity: 0.3;
		-webkit-transform: translateX(100%);
	}

}

@-moz-keyframes moveToRightFade {
	to {
		opacity: 0.3;
		-moz-transform: translateX(100%);
	}

}

@keyframes moveToRightFade {
	to {
		opacity: 0.3;
		transform: translateX(100%);
	}

}

@-webkit-keyframes moveFromRightFade {
	from {
		opacity: 0.3;
		-webkit-transform: translateX(100%);
	}

}

@-moz-keyframes moveFromRightFade {
	from {
		opacity: 0.3;
		-moz-transform: translateX(100%);
	}

}

@keyframes moveFromRightFade {
	from {
		opacity: 0.3;
		transform: translateX(100%);
	}

}

@-webkit-keyframes moveToTopFade {
	to {
		opacity: 0.3;
		-webkit-transform: translateY(-100%);
	}

}

@-moz-keyframes moveToTopFade {
	to {
		opacity: 0.3;
		-moz-transform: translateY(-100%);
	}

}

@keyframes moveToTopFade {
	to {
		opacity: 0.3;
		transform: translateY(-100%);
	}

}

@-webkit-keyframes moveFromTopFade {
	from {
		opacity: 0.3;
		-webkit-transform: translateY(-100%);
	}

}

@-moz-keyframes moveFromTopFade {
	from {
		opacity: 0.3;
		-moz-transform: translateY(-100%);
	}

}

@keyframes moveFromTopFade {
	from {
		opacity: 0.3;
		transform: translateY(-100%);
	}

}

@-webkit-keyframes moveToBottomFade {
	to {
		opacity: 0.3;
		-webkit-transform: translateY(100%);
	}

}

@-moz-keyframes moveToBottomFade {
	to {
		opacity: 0.3;
		-moz-transform: translateY(100%);
	}

}

@keyframes moveToBottomFade {
	to {
		opacity: 0.3;
		transform: translateY(100%);
	}

}

@-webkit-keyframes moveFromBottomFade {
	from {
		opacity: 0.3;
		-webkit-transform: translateY(100%);
	}

}

@-moz-keyframes moveFromBottomFade {
	from {
		opacity: 0.3;
		-moz-transform: translateY(100%);
	}

}

@keyframes moveFromBottomFade {
	from {
		opacity: 0.3;
		transform: translateY(100%);
	}

}

.pt-page-moveToLeftFade {
	-webkit-animation: moveToLeftFade .7s ease both;
	-moz-animation: moveToLeftFade .7s ease both;
	animation: moveToLeftFade .7s ease both;
}

.pt-page-moveFromLeftFade {
	-webkit-animation: moveFromLeftFade .7s ease both;
	-moz-animation: moveFromLeftFade .7s ease both;
	animation: moveFromLeftFade .7s ease both;
}

.pt-page-moveToRightFade {
	-webkit-animation: moveToRightFade .7s ease both;
	-moz-animation: moveToRightFade .7s ease both;
	animation: moveToRightFade .7s ease both;
}

.pt-page-moveFromRightFade {
	-webkit-animation: moveFromRightFade .7s ease both;
	-moz-animation: moveFromRightFade .7s ease both;
	animation: moveFromRightFade .7s ease both;
}

.pt-page-moveToTopFade {
	-webkit-animation: moveToTopFade .7s ease both;
	-moz-animation: moveToTopFade .7s ease both;
	animation: moveToTopFade .7s ease both;
}

.pt-page-moveFromTopFade {
	-webkit-animation: moveFromTopFade .7s ease both;
	-moz-animation: moveFromTopFade .7s ease both;
	animation: moveFromTopFade .7s ease both;
}

.pt-page-moveToBottomFade {
	-webkit-animation: moveToBottomFade .7s ease both;
	-moz-animation: moveToBottomFade .7s ease both;
	animation: moveToBottomFade .7s ease both;
}

.pt-page-moveFromBottomFade {
	-webkit-animation: moveFromBottomFade .7s ease both;
	-moz-animation: moveFromBottomFade .7s ease both;
	animation: moveFromBottomFade .7s ease both;
}