<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style  type="text/css" >
     div
     {
         float:left;
         border:solid 1px red;
         width:300px;
         height:200px;
     }
    </style>
</head>
<body>
<div>
<a href="HTMLPageCOntent.htm"  target="c">员工信息</a><br />
<a href="HTMLPageCOntent2.htm"  target="c">部门信息</a>
</div>
<div>
<iframe name="c"  src="HTMLPageCOntent.htm"></iframe>
</div>
</body>
</html>
