{##}
{#<div class="col-md-2 sidebar">#}
{##}
{#    <ul class="nav nav-sidebar">#}
{#        <li><a href="#dashboard-menu" class="nav nav-sidebar" data-toggle="collapse"><span class="glyphicon glyphicon-th-large"></span> MySQL &nbsp<span class="glyphicon glyphicon-chevron-down"></span></a></li>#}
{#    </ul>#}
{#    <ul id="dashboard-menu" class="nav nav-list collapse ">#}
{#        <li><a href="{% url 'mysql_query' %}">&nbsp<span class="glyphicon glyphicon-th-list"></span> &nbsp MySQL_QUERY</a></li>#}
{#        <li><a href="{% url 'mysql_exec' %}">&nbsp<span class="glyphicon glyphicon-th-list"></span> &nbsp MySQL_EXEC</a></li>#}
{#        <li><a href="{% url 'inception' %}">&nbsp<span class="glyphicon glyphicon-th-list"> </span> &nbsp DML&DDL语句审核</a></li>#}
{#    </ul>#}
{##}
{#    <ul class="nav nav-sidebar">#}
{#        <li><a href="{% url 'task_manager' %}"><span class="glyphicon glyphicon-th-large"></span>任务管理</a></li>#}
{#        <li><a href="{% url 'log_query' %}"><span class="glyphicon glyphicon-th-large"></span>日志查询</a></li>#}
{##}
{#    </ul>#}
{##}
{#</div>#}



<body onload="showfav()">
<div id="sidebar-wrapper">
{#    草稿区#}
{#    笔记区#}
{#    {{ favword }}#}
   <span class="glyphicon glyphicon-user">NOTEPAGE</span><hr/>
    <textarea id='id_favword' cols="34" style="resize: none"  onchange="record_cookie()" rows="20"  maxlength="500"  name="favword">{{ favword }}</textarea>

</div>
</body>