<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>后台首页</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="Author" content="larry" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="Shortcut Icon" href="/static/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/larryms/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/larryms/css/admin/base.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/larryms/css/admin/console.css">
</head>

<body class="larry-bg-gray">
<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
<!--[if lt IE 10]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
    <div class="layui-fluid">
        <div class="larry-container">
            <!-- 快捷导航 -->
            <div class="layui-row larry-shortcut layui-col-space15" id="shortcut">
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2 larry-col">
                    <section class="shortcut pos-r larry-ico-rotate">
                        <a target="_blank" class="pos-r" data-url='www.baidu.com' data-id="606" data-group="0" data-icon="larry-daohang" data-font="larry-icon">
                            <div class="larry-ico larry-bg-red"><i class="larry-icon larry-container"></i></div>
                            <div class="larry-value">
                                <cite class="un-nums">百度导航地址</cite>
                            </div>
                        </a>
                    </section>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2 larry-col">
                    <section class="shortcut pos-r larry-ico-rotate">
                        <a target="_blank" class="pos-r" data-url='wwww.aliyun.com' data-id='302' data-group="1" data-icon="larry-chanpinC" data-font="larry-icon">
                            <div class="larry-ico larry-bg-two"><i class="larry-icon larry-chanpinC"></i></div>
                            <div class="larry-value">
                                <cite class="un-nums">阿里云导航地址</cite>
                            </div>
                        </a>
                    </section>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2 larry-col layui-hide-xs">
                    <section class="shortcut pos-r larry-ico-rotate">
                        <a larry-tab="iframe" class="pos-r" data-url='http://www.github.com/qingdu/roe' data-group="3" data-icon="larry-pc" data-id="312" data-font="larry-icon">
                            <div class="larry-ico larry-bg-green"><i class="larry-icon larry-pc"></i></div>
                            <div class="larry-value">
                                <cite class="un-nums">作者开源地址</cite>
                            </div>
                        </a>
                    </section>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2 larry-col  layui-hide-xs">
                    <section class="shortcut pos-r larry-ico-rotate">
                        <a larry-tab="iframe" class="pos-r" data-url='http://www.lianchaofang.com' data-icon="larry-xiangmu" data-font="larry-icon" data-id="798" data-group="2">
                            <div class="larry-ico larry-bg-purple"><i class="larry-icon larry-xiangmu"></i></div>
                            <div class="larry-value">
                                <cite class="un-nums">作者博客地址</cite>
                            </div>
                        </a>
                    </section>
                </div>
                
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2 larry-col">
                    <section class="shortcut pos-r larry-ico-rotate">
                        <a larry-tab="iframe" class="pos-r" data-url='admin/panel/message.html' data-icon="larry-message_icon" data-font="larry-icon" data-id="12" data-group="0">
                            <div class="larry-ico larry-bg-orange"><i class="larry-icon larry-message_icon"></i></div>
                            <div class="larry-value">
                                <span class="nums" id="msgNums">1000</span>
                                <cite>消息中心</cite>
                            </div>
                        </a>
                    </section>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2 larry-col">
                    <section class="shortcut larry-ico-rotate">
                        <a larry-tab="iframe" class="pos-r" data-url='admin/content/list.html' data-icon="larry-neirongguanli1" data-font="larry-icon" data-id="26" data-group='3'>
                            <div class="larry-ico larry-bg-blue"><i class="larry-icon larry-neirongguanli1"></i></div>
                            <div class="larry-value">
                                <span class="nums" id="artNums">7666</span>
                                <cite>所有文章列表</cite>
                            </div>
                        </a>
                    </section>
                </div>
            </div>
            <!-- 面板 -->
            <div class="layui-row layui-col-space15">
                <!-- 更新检查 -->
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md6 layui-col-lg6">
                    <section class="larry-panel top1 layui-hide-xs">
                        <div class="larry-panel-header">
                            <h3 class="larry-panel-title">基本介绍</h3>
                            <i class="larry-icon larry-unfold1 tools"></i>
                        </div>
                        <div class="larry-panel-body">
                            <div class="update">
                                <div class="larryms clearfix">
                                    <span class="logo larry-bg-green">鱼仔系统</span>
                                    <div class="larryms-text">
                                        <h3 class="larryms-intoduce">鱼仔自动化运维管理系统</h3>
                                        <ul class="larryms-intoduce-ul">
                                            <li>
                                                roeops 是一套基于layui 作为前端框架，django 作为后台框架的完全开源自动化运维管理系统, roeops 结合作者工作经验和各种开源技术，旨在帮助企业提高工作效率，节省运维成本。
                                            </li>
                                            <li>
                                                您可以roeops为基础，开发自己的系统和模块，如DB管理，工单，CMDB，中间件管理等
                                            </li>
                                            <li>
                                                roeops 紧贴业务场景，以实际运维需求为向导，屏除无效和面子项目，使用了大量的开源组件，最大程度上帮助企业和开发者个人节省时间成本和费用开支。
                                            </li>
                                        </ul>
{#                                        <div class="larryms-forums">#}
{#                                            <a href="http://www.larryms.com/" target="_blank" class="larryms-btn larryms-btn-xs ">返回官网</a>#}
{#                                            #}
{#                                            <a id="wapQrcode" target="_blank" class="larryms-btn larryms-btn-xs larryms-btn-danger">移动端体验</a>#}
{#                                            <a href="http://www.larryms.com/doc.html" target="_blank" class="larryms-btn larryms-btn-xs larryms-btn-normal">开发者文档</a>#}
{#                                            <a href="tencent://message/?uin=313492783&Site=larryms&Menu=yes" target="_blank" class="larryms-btn larryms-btn-xs">QQ在线咨询</a>#}
{#                                            <a href="http://www.larryms.com/article/1.html" target="_blank" class="larryms-btn larryms-btn-xs larryms-btn-balcks">服务协议</a>#}
{#                                            <a id="remarkLarryMS" target="_blank" class="larryms-btn larryms-btn-xs larryms-btn-danger">预览版重要说明</a>#}
{#                                        </div>#}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- larryMS系统概览 -->
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md6 layui-col-lg6">
                    <section class="larry-panel top1">
                        <div class="larry-panel-header">
                            <h3 class="larry-panel-title">版本信息 <a href="http://www.larryms.com/" target="_blank"><em>[</em><span class="versionT"></span><em>]</em></a></h3>
                            <i class="larry-icon larry-unfold1 tools"></i>
                        </div>
                        <div class="larry-panel-body">
                            <table class="layui-table larry-table-info">
                                <colgroup>
                                    <col width="150">
                                    <col>
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td><span class="tit">产品名称:</span></td>
                                        <td><span class="info">鱼仔技术</span></td>
                                    </tr>
                                    <tr>
                                        <td><span class="tit">当前版本:</span></td>
                                        <td><span class="info iframe versionT"> roeops v2.00 ( iframe版 )</span><a href="http://www.larryms.com/cates/2.html" target="_blank" class="p3 larryms-f-blue">更新日志</a></td>
                                    </tr>
                                    <tr>
                                        <td><span class="tit">版本选取:</span></td>
                                        <td>python 2.7 django 1.11, layui 2.4.5</td>
                                    </tr>
                                    <tr>
                                        <td><span class="tit">开发作者:</span></td>
                                        <td>鱼仔 （ QQ:554712718 ）</td>
                                    </tr>
                                    <tr>
                                        <td><span class="tit">系统特点:</span></td>
                                        <td>门槛地，设计独立，便于学习进阶，实用性强</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
            <div class="larryms-card layui-row layui-col-space15 larryms-products">
                <!-- 常用板块 -->
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
                    <section class="layui-card">
                        <div class="layui-card-body ui-a">
                            <i class="larry-icon larry-jiemiansheji"></i>
                            <p>UI范例</p>
                            <div class="label-content">
                                <span class="label label-default label-outline">布局</span>
                                <span class="label label-default label-outline">layui组件</span>
                                <span class="label label-default label-outline">基本</span>
                                <span class="label label-default label-outline">表单</span>
                                <span class="label label-default label-outline">进阶</span>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
                    <section class="layui-card">
                        <div class="layui-card-body ui-b">
                            <i class="larry-icon larry-js1"></i>
                            <p>JS组件库</p>
                            <div class="label-content">
                                <span class="label label-default label-outline">动画库</span>
                                <span class="label label-default label-outline">60+JS库</span>
                                <span class="label label-default label-outline">编辑器</span>
                                <span class="label label-default label-outline">600+图标库</span>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
                    <section class="layui-card">
                        <div class="layui-card-body ui-c">
                            <i class="larry-icon larry-tubiao-zhuzhuangtu"></i>
                            <p>图表动画</p>
                            <div class="label-content">
                                <span class="label label-default label-outline">Echarts</span>
                                <span class="label label-default label-outline">仪表盘</span>
                                <span class="label label-default label-outline">svg动画</span>
                                <span class="label label-default label-outline">scrolla动画</span>
                                <span class="label label-default label-outline">炫酷CSS3</span>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
                    <section class="layui-card">
                        <div class="layui-card-body ui-d">
                            <i class="larry-icon larry-changyongshili"></i>
                            <p>页面示例</p>
                            <div class="label-content">
                                <span class="label label-default label-outline">小工具</span>
                                <span class="label label-default label-outline">错误页</span>
                                <span class="label label-default label-outline">注册登录</span>
                                <span class="label label-default label-outline">H5场景</span>
                                <span class="label label-default label-outline">30+常用页</span>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
                    <section class="layui-card">
                        <div class="layui-card-body ui-e">
                            <i class="larry-icon larry-biaoge1"></i>
                            <p>表格示例</p>
                            <div class="label-content">
                                <span class="label label-default label-outline">基本表格</span>
                                <span class="label label-default label-outline">DataTable</span>
                                <span class="label label-default label-outline">树形表格</span>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
                    <section class="layui-card">
                        <div class="layui-card-body ui-f">
                            <i class="larry-icon larry-msnui-sys-report"></i>
                            <p>系统模板</p>
                            <div class="label-content">
                                <span class="label label-default label-outline">用户</span>
                                <span class="label label-default label-outline">权限</span>
                                <span class="label label-default label-outline">菜单</span>
                                <span class="label label-default label-outline">内容</span>
                                <span class="label label-default label-outline">栏目</span>
                                <span class="label label-default label-outline">微信公众</span>
                                <span class="label label-default label-outline">100+模板页</span>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div class="layui-row layui-col-space15">
                <!-- 网站数据统计 -->
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12">
                    <section class="larry-panel">
                        <div class="larry-panel-header">
                            <h3 class="larry-panel-title">数据概览</h3>
                            <i class="larry-icon larry-unfold1 tools"></i>
                        </div>
                        <div class="larry-panel-body">
                            <div class="count-data" id="larryCount">
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="layui-hide" id="qrcodeBox">
                <style>
                .qrcode {
                    display: block;
                    width: 300px;
                    height: 300px;
                    margin: 0 auto;
                    margin-top: 10px;
                    position: relative;
                }
                .qrcode .qrcode-logo{
                    display: block;
                    width: 48px;
                    height: 48px;
                    position: absolute;
                    top: 120px;
                    left: 126px;
                    border-radius: 6px;
                }
                </style>
                <div class="qrcode" id="qrcode">
                    <img class="qrcode-logo" src="/static/larryms/images/logo.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- 加载js文件-->
    <script type="text/javascript" src="/static/larryms/layui/layui.js"></script>
    <script type="text/javascript">
    layui.cache.page = 'console';
    layui.config({
        version: "2.0.8",
        base: '/static/larryms/',
        identified: 'main'
    }).extend({
        larry: 'js/base'
    }).use('larry');
    </script>
</body>

</html>