
{% extends 'base.html' %}
{% block self_head_css_js %}
    <script src="/static/layer/layer.js"></script>
    <script src="/static/js/base.js"></script>
{% endblock %}

{%block content%}
    <script>
        window.onload=init;
        function init() {
            showhide(2);
        }
        function showhide(n) {
            var box = document.getElementById("mysqlask");
            box.className="active";
            var box = document.getElementById("binlog_parse");
            box.className="active";
        }
    </script>
    <div class="content-wrapper">

        <section class="content-header">
            {#        <div class="alert alert-info alert-dismissible" style="display: {{ display_control }};">#}
            {#            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>#}
            {#            <h4>{{ tips }}</h4>#}
            {#        </div>#}
        </section>

        <section class="content">
    <div id="wrapper">
        <form role="form" method='post'>
            {% csrf_token %}
{#            {% include "include/sidebar.html" %}#}
            <div id="page-content-wrapper">
                <table >
                    ??:
                    <tr>
                        <td>
                            <select id='ins' class="form-control col-md-3" name = "ins_set">
                                {% for obj in inslist %}
                                    {% if obj == insname %}
                                        <option selected="selected" value ="{{ obj.id }}">{{ obj.vist_ip }} + {{ obj.port }} ({{ obj.role }})</option>
                                    {% else %}
                                        <option value ="{{ obj.id }}">{{ obj.vist_ip }} + {{ obj.port }} ({{ obj.role }})</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                    </tr>


                </table>
                </br>



                <button name="show_binary" class="btn btn-primary" value="1">show binary logs and DB</button >
                </br>

                {% if binlist %}
                    <table >
                        <tr>
                            <td>
                                CHOOSE BINLOG:</br>
                                <select  class="form-control col-md-3" name = "binary_list">
                                    {% for obj in binlist %}
                                        {% if obj == binname %}
                                            <option selected="selected" value ="{{ obj }}">{{ obj }}</option>
                                        {% else %}
                                            <option value ="{{ obj }}" >{{ obj }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                </br>
                            </td>

                            <td>
                                CHOOSE DB:</br>
                                <select  class="form-control col-md-3" name = "dblist">
                                    {% for obj in dblist %}
                                        {% if obj == dbselected %}
                                            <option selected="selected" value ="{{ obj }}">{{ obj }}</option>
                                        {% else %}
                                            <option value ="{{ obj }}" >{{ obj }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                </br>
                            </td>
                            <td>
                                INPUT TABLE_NAME:</br>
                                {% if tbname %}
                                    <input type=="text" placeholder="tablename" class="form-control" maxlength="30" value="{{ tbname }}" name="tbname">
                                {% else %}
                                    <input type=="text" placeholder="tablename" class="form-control" maxlength="30"  name="tbname">
                                {% endif %}
                            </td>
                            <td>
                                CHOOSE BEGIN_TIME:</br>
                                {% if begintime %}
                                    <input type=="text" id="id_begin_time"  value="{{ begintime }}" class="form-control" maxlength="30" name="begin_time">
                                {% else %}
                                    <input type=="text" id="id_begin_time"  class="form-control" maxlength="30" name="begin_time">

                                {% endif %}
                            </td>
                            <td>
                                CHOOSE ????:</br>
                                <select class="form-control col-md-3" name = "countnum">
                                    {% if countnum == 10 %}
                                        <option selected="selected" value =10 >10</option>

                                    {% else %}
                                        <option value =10 >10</option>
                                    {% endif %}
                                    {% if countnum == 50 %}
                                        <option selected="selected" value =50 >50</option>

                                    {% else %}
                                        <option value =50 >50</option>
                                    {% endif %}

                                    {% if countnum == 200 %}
                                        <option selected="selected" value =200 >200</option>

                                    {% else %}
                                        <option value =200 >200</option>
                                    {% endif %}

                                </select>
                            </td>
                        <tr>
                    </table>
                {% endif %}
                {% if binlist %}
                    <button name="parse_first"  class="btn btn-default" value="1">?????5?</button >
                    <button id="parse_binlog" name="parse"  class="btn btn-success" value="1">PARSE BINLOG FOR REDO</button >
                    <button name="parse_undo"  class="btn btn-danger" value="1">PARSE BINLOG FOR UNDO</button >

                {% endif %}
            </div>

        </form >
        <div>
            {% if info %}
                <span style="color:red">{{ info }}</span>
            {% endif %}
        </div>

        <div>

        </div>
        <table  class="table table-condensed" border="1">
            {% for i in sqllist %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        <pre>{{ i }}</pre>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    {#    <button id="dict"  class="btn btn-success" value="1">test</button >#}
        </section>
    </div>
{% endblock %}
{% block self_footer_js %}
    {#        <script>#}
    {#            function checknum() {#}
    {#                var num = document.getElementById('id_begin_pos').value;#}
    {#                if (num) {#}
    {#                    if (!isNaN(num)) {#}
    {#                        return true;#}
    {#                    }#}
    {#                    else {#}
    {#                        alert('??????POS(??)');#}
    {#                        return false;#}
    {#                    }#}
    {#                }#}
    {#            }#}
    {##}
    {#        </script>#}

    <script>
        jeDate({
            dateCell:"#id_begin_time",
            format:"YYYY-MM-DD hh:mm:ss",
            isinitVal:true,
            isTime:true, //isClear:false,
            minDate:"2014-09-19 00:00:00",
            okfun:function(val){alert(val)}
        })
    </script>

    {#        <script>#}
    {#            $(document).ready(function(){#}
    {##}
    {#                $('#dict').click(function(){#}
    {#                    var dbtag = $('#ins').val()#}
    {#                    $.getJSON("{% url 'test' %}",{'dbtag':dbtag},function(ret){#}
    {#                        $.each(ret,function(i,n){#}
    {#                            alert(n);#}
    {#                        })#}
    {#                    })#}
    {#                })#}
    {#            });#}
    {#        </script>#}
{% endblock %}